<div class="container" >
<div class="projects-section">
    <div class="project-card">
        <div class="image-section">
            <img src="/assets/p1.png">
        </div>
        <div class="content-section">
            <h3>PortFolio WebPage</h3>
            <p>Developed a portfolio webpage using Angular, 
                focusing on a clean and modern design. 
                Utilized HTML, CSS, and TypeScript to create a responsive and 
                visually appealing site.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="image-section">
            <img src="/assets/p2.png">
        </div>
        <div class="content-section">
            <h3>Calculation Of ROI</h3>
            <p>In this project, we integrate the customer data of an organisation 
                and create a customer 360 which is then used to calculate the Return on Investment 
                on Campaigns using Markov chain analysis.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="image-section">
            <img src="/assets/p3.png">
        </div>
        <div class="content-section">
            <h3>Atomated Visual Media Caption Generator</h3>
            <p>In this project, we have built an application putting-together the capabilities of 
                Computer Vision, Deep Learning, and NLP to intercept,
                 understand and describe real world visual content.</p>
        </div>
    </div>
    <div class="space" ></div>
    <!-- Repeat the project-card for each project -->
</div>
</div>