<div class = "contact-section">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="contact-container">
        <p class="intro-text">Let’s Connect, Collaborate, and Create — crafting a better avenir!</p>
        <div class="contact-icons">
            <a class="fa fa-instagram cta" id="insta" href="https://www.instagram.com/sanjaykumardasari/" target="_blank"></a>
            <a class="fa fa-envelope cta" id="mail" href="mailto:dsanjaykumar121@gmail.com" target="_blank" rel="noopener noreferrer"></a>
            <a class="fa fa-whatsapp cta" id="wapp" href="https://api.whatsapp.com/send?phone=918500434390&text=Hi%20There!" target="_blank"></a>
            <a class="fa fa-linkedin cta" id="lin" href="https://www.linkedin.com/in/sanjay-kumar-dasari-b920b7193/" target="_blank"></a>
            <a class="fa fa-telegram cta" id="tele" href="https://t.me/sanjay2110" target="_blank"></a>
        </div>
    </div>
</div>