/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-image: url('/assets/bgg.jpg'); /* Path to your local image */
    background-size: cover; /* Ensure the image covers the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image from repeating */
  }