<!-- src/app/home/home.component.html -->
 <div class = "home">
 <div class="container">
<div class="left-column">
    <h1>Sanjay Kumar Dasari</h1> <!-- Main heading (your name) -->
    <h2>Software Developer</h2> <!-- Profession -->
    <p class="caption"><em>"Crafting Tomorrow, One Line of Code at a Time."</em></p> <!-- Caption -->
    <p>👋 Hi there! I’m glad you’re here!</p> <!-- Welcome note -->
   
</div>
<div class="right-column">
    <img src="assets/sanjayhii2.gif" autoplay muted loop controls>
</div>
</div>
</div>